@model IEnumerable<ExamScheduler.ScheduledExam>

@{
    ViewBag.Title = "Scheduled Exams";
}

<h2>Scheduled Exams</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table datatable">
    <thead>
        <tr>
            <th>Exam Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Campus</th>
            <th>Course</th>
            <th>Exam Stage</th>
            <th>Room</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@(item.Date?.ToString("MM/dd/yyyy"))</td>
                <td>@(item.StartTime?.ToString(@"hh\:mm")) - @(item.EndTime?.ToString(@"hh\:mm"))</td>
                <td>@item.Campu?.Name</td>
                <td>@item.Course?.Name</td>
                <td>@item.ExamStage?.Name</td>
                <td>@item.Room?.Name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ScheduledExamID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ScheduledExamID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ScheduledExamID })
                </td>
            </tr>
        }
    </tbody>
</table>
