@model IEnumerable<ExamScheduler.ScheduledExamStudent>

@{
    ViewBag.Title = "Student Exam Schedule";
}

<h2>Student Exam Schedule</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{
    var students = Model.GroupBy(s => s.User);
}

@foreach (var studentGroup in students)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@studentGroup.Key.Name</h3>
        </div>
        <div class="panel-body">
            <table class="table datatable">
                <thead>
                    <tr>
                        <th>Exam</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Location</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exam in studentGroup)
                    {
                        <tr>
                            <td>@exam.ScheduledExam.Name</td>
                            <td>@(exam.ScheduledExam.Date?.ToString("MM/dd/yyyy"))</td>
                            <td>@(exam.ScheduledExam.StartTime?.ToString(@"hh\:mm")) - @(exam.ScheduledExam.EndTime?.ToString(@"hh\:mm"))</td>
                            <td>@exam.ScheduledExam.Room?.Name</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = exam.ScheduledExamStudentID }) |
                                @Html.ActionLink("Details", "Details", new { id = exam.ScheduledExamStudentID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = exam.ScheduledExamStudentID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
